<html>
<head>
  <meta charset="UTF-8">
  <title>TO DO LIST</title>
  <link rel="stylesheet" type="text/css" href="./css/styles.css">
</head>
<body>
  <h1>TO DO LIST</h1>
  <form method="POST" action='/task'>
    <input id="task" name="task" type="text"></input>
    <input id="submit" type='submit' value="submit">
  </form>
    <ul>
    <% tasks.forEach(function(task) { %>
      <li>
      <%= task.task %>
      <%= task.createdAt %>
      </li>
    <% }) %>
    </ul>
</body>
</html>
